{
    "CLIENT_ID":"OAUTH_CLIENT_ID",
    "CLIENT_SECRET": "OAUTH_SECRET",
    "SESSION_SECRET": "PASSWORD_FOR_COOKIE",
    "AUTHORIZE_URL": "https://dash.by/api/auth/authorize",
    "REDIRECT_URI": "https://www.YOUR-WEBSITE.com/authorize",
    "ACCESS_TOKEN_URL": "https://dash.by/api/auth/token",
    "SCOPES": "user trips"
}
