<head>
  <title>Heatmap</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <style>
    html, body, #map-canvas {
      padding: 0px;
      font-family: 'Raleway', sans-serif;
      margin: 0px;
      width:100%;
      height:100%;
    }
    #time-select-div {
      z-index: 0;
    }
  </style>
</head>

<body>
  <div class=metanav>
    {% if not session.token %}
      <a href="{{ url_for('login') }}">log in</a>
    {% endif %}
  </div>  

  <div id="api" style="display: none">{{config['API_POLLUTION_HEATMAP_URL']}}</div>
  <div id='type' style="display: none">pollution-heatmap</div>
  <div id="map-canvas"> </div>

  <div style="position: absolute; top: 20px; right: 20px; width: 240px; height: 100px;">
    <div id="time-select-form" style="padding: 10px; background: white; border: 1px solid #aaa; font: 11pt/18pt Helvetica, Sans-serif;">
      <h3>Select by date range</h3>
        <table style="width:100%">
          <tr>
            <td><p><em>from...</em></p></td>
            <td><p><input type="date" id="input-date-start" /></p></td>
          </tr>
          <tr>
            <td><p><em>to...</em></p></td> 
            <td><p><input type="date" id="input-date-end" /></p></td> 
          </tr>
        </table>
        <br>
        <div style="text-align: center;">
          <button id="time-select-form" onclick="submit()">Submit</button>
          <button id="reset" onclick="reset()">Reset</button>
        </div>
    </div>
  </div>

  <script src="/heatmap/static/jquery-2.1.1.min.js"></script>
  <script src="/heatmap/static/heatmap.js"></script>
  <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
</body>