CLIENT_ID = "OAUTH_CLIENT_ID"
CLIENT_SECRET = "OAUTH_SECRET"
REDIRECT_URI = "https://www.YOUR-WEBSITE.com/api/authorize"
API_HEATMAP_URL = "http://www.YOUR-WEBSITE.com/api/heatmap"
API_POLLUTION_HEATMAP_URL = "http://www.YOUR-WEBSITE.com/api/pollution-heatmap"
SCOPE = "user+trips"
SECRET_KEY = "PASSWORD_FOR_COOKIE"

TRIP_API = "https://7w4xh45731.execute-api.us-east-1.amazonaws.com/prod/trips"
ROUTE_API = "https://7w4xh45731.execute-api.us-east-1.amazonaws.com/prod/routes/"
USER_API = "https://7w4xh45731.execute-api.us-east-1.amazonaws.com/prod/user"
DASH_AUTHORIZE = "https://xb2a5xb6ne.execute-api.us-east-1.amazonaws.com/prod/auth/token"