CLIENT_ID = "OAUTH_CLIENT_ID"
CLIENT_SECRET = "OAUTH_SECRET"
REDIRECT_URI = "https://www.YOUR-WEBSITE.com/api/authorize"
API_HEATMAP_URL = "http://www.YOUR-WEBSITE.com/api/heatmap"
API_POLLUTION_HEATMAP_URL = "http://www.YOUR-WEBSITE.com/api/pollution-heatmap"
SCOPE = "user+trips"
SECRET_KEY = "PASSWORD_FOR_COOKIE"

TRIP_API = "https://dash.by/api/chassis/v1/trips"
ROUTE_API = "https://dash.by/api/chassis/v1/routes/"
USER_API = "https://dash.by/api/chassis/v1/user"
DASH_AUTHORIZE = "https://dash.by/api/auth/token"