CLIENT_ID = "OAUTH_CLIENT_ID"
CLIENT_SECRET = "OAUTH_SECRET"
REDIRECT_URI = "https://www.YOUR-WEBSITE.com/authorize"
STATE = "YOUR_STATE"
SCOPE = "user trips"
SESSION_SECRET = "PASSWORD_FOR_COOKIE"

TRIP_API = "https://dash.by/api/chassis/v1/trips"
ROUTE_API = "https://dash.by/api/chassis/v1/routes/"
DASH_AUTHORIZE = "https://dash.by/api/auth/token"


